[submodule "external/fastgltf"]
	path = external/fastgltf
	url = https://github.com/spnda/fastgltf.git
[submodule "Plugins/OpenGL_Graphics/glbinding"]
	path = Plugins/OpenGL_Graphics/glbinding
	url = https://github.com/cginternals/glbinding.git
[submodule "Plugins/Vulkan_Graphics/Vulkan-Hpp"]
	path = Plugins/Vulkan_Graphics/Vulkan-Hpp
	url = https://github.com/KhronosGroup/Vulkan-Hpp.git
[submodule "Plugins/SDL3_Wrapper/SDL"]
	path = Plugins/SDL3_Wrapper/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/simdjson"]
	path = external/simdjson
	url = https://github.com/simdjson/simdjson.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Plugins/JoltPhysics_Wrapper/JoltPhysics"]
	path = Plugins/JoltPhysics_Wrapper/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
